@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Red Hat Text', sans-serif;
}

:root {

  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

body {

  background-color: var(--Very-dark-blue);
  background-image: url('../src/images/bg-stars.svg');
  background-size: cover;
}

.main-container {
  max-width: 144rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
}

.heading {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--White);
}

.countdown-container {
  display: grid;
  gap: 3rem;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(4, 20rem);
  justify-content: center;
}

.common-countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.timer {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
  background-color: var(--Dark-desaturated-blue);
  color: var(--Soft-red);
  font-size: 9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-para {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--Grayish-blue);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-image: url('../src/images/pattern-hills.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  gap: 2.5rem;

}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.5;
}

@media screen and (max-width:1024px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width:768px) {
  .countdown-container {
    grid-template-columns: 1fr;
    margin: 5rem auto 15rem;
  }
}

@media screen and (max-width:425px) {

  html {
    font-size: 40%;
  }

}